* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: normal;
  background: #000000;
  color: #ffffff;
  width: 100%;
  font-size: 15px;
  font-family: Poppins;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo-icon {
  width: 24.73px;
  height: 23.16px;
  object-fit: cover;
}

.main-ln {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-lm {
  margin: 0 0 0 10px;
}

h4,
h5,
h1,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.sub-lm h4 {
  margin-top: 8px;
}

.sub-lm h5 {
  margin: -4px 0 0 19px;
}

.main-button {
  display: flex;
  gap: 10px;
}

.main-button .sub-button {
  display: flex;
  padding: 8px 20px;
  background: none;
  border: 1px solid #ffffff;
  border-radius: 20px;
  color: #ffffff;
  font-weight: 600;
}

.menu-button {
  display: none;
}

.main-artlogo,
.main-title,
.about-section,
.experiance-section,
.project-section,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.main-title,
.about-section,
.experiance-section,
.project-section,
footer {
  gap: 40px;
  margin-bottom: 50px;
}

.main-title h1,
.about-section h1,
.experiance-section h1,
.project-section h1 {
  font-size: 50px;
}

.main-title h3,
.about-section h3,
.experiance-section h3,
.project-section h3 {
  font-size: 24px;
  margin-top: -50px;
}

.main-title .sub-button {
  display: flex;
  padding: 14px 40px;
  background: none;
  border: 1px solid #ffffff;
  border-radius: 30px;
  color: #ffffff;
  font-size: 20px;
}

.about-title,
.experiance-title,
.project-title,
footer {
  margin-top: 50px;
}

.explore-title {
  font-size: 20px !important;
  font-weight: 400;
}

.experiance-section .sub-title span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.sub-title {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.sub-title h1 {
  font-size: 18px;
}

.sub-title h3 {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: -52px;
}

.experiance-section p {
  padding: 0 calc(100% - 90%);
  text-align: start;
}

.experiance-section .sub-button {
  padding: 3px 14px;
  background: none;
  border: 1px solid #ffffff;
  border-radius: 20px;
  color: #ffffff;
  margin: 10px 5px;
}

.experiance-section .skill-section {
  margin: 0 calc(100% - 80%);
}

.firstpart .firstproject,
.firstpart .secoundproject,
.secoundpart .thirdproject,
.secoundpart .fourproject {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.project-text {
  text-align: start;
  margin: 10px 0;
}

.project-text h1 {
  font-size: 18px;
}

.project-text p {
  margin-top: 10px;
  font-size: 8px;
}

.social-icon {
  position: relative;
  display: inline-flex;
  gap: 20px;
}

footer {
  margin-top: 100px;
}

.sub-project {
  padding: 0 calc(100% - 95%);
}

.social-icon a {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.sub-button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

@media (max-width:430px) {
  .menu-button {
    display: inline;
  }

  .main-button .sub-button {
    display: none;
  }
}

@media (min-width: 576px) {
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}